@page "/ResetPassword"
@model PlannerAppAPI.Pages.ResetPasswordModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Reset Password</title>
</head>
<body style="background-color:slategrey;color:azure;">
    <div style="background-color:rgb(32,46,58); margin:auto; margin-top:50px; text-align:center; width:400px; border:2px solid lightgrey; border-radius:25px;">
        <h1 style="color: crimson; font-size:55px">PlannerApp</h1>
        <h2>Reset Password</h2>
        <form action="/api/auth/resetpassword" method="post" style="display:inline-block">
            <hr>
            <input type="hidden" name="Token" value="@Request.Query["Token"]" />
            <input type="hidden" name="Email" value="@Request.Query["Email"]" />
            <table style="text-align:center">
                <tr>
                    <td>
                        <label>New Password</label><br>
                        <input type="password" name="NewPassword" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <br>
                        <label> Confirm Password</label><br>
                        <input type="password" name="ConfirmPassword" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <br>
                        <input type="submit" value="Reset" style="color:black; width:150px; height: 30px; border-radius:50px;" />
                        <br>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</body>
</html>
